<h1>Faturas</h1>

<a href="{% url 'faturas:gerar' %}">
    Gerar nova fatura
</a>

{% for fatura in faturas %}
    <div>
        <p>
            Apartamento: {{ fatura.apartamento }}
        </p>

        <p>
            Referência:
            {{ fatura.mes|stringformat:"02d" }}/{{ fatura.ano }}
        </p>

        <p>
            Valor total:
            R$ {{ fatura.valor_total|floatformat:2 }}
        </p>

        <a href="{% url 'faturas:detalhes' fatura.id %}">
            Ver detalhes
        </a>
    </div>
{% empty %}
    <p>Nenhuma fatura cadastrada.</p>
{% endfor %}
